body{
	font-family: Arial;
	background-color: #FFFFFF;
}

a{color: #E8A001}

div.header {
	background: #01013A;
	text-align: center;
}
div.header h1,h2,h3{color:#E8A001}

img.bookImg{
	width: 100px;
	align: left;
	alt: Numerical Simulation of Optical Wave Propagation with Examples in Matlab book cover;
	title: Numerical Simulation of Optical Wave Propagation with Examples in Matlab book cover;
}

div.toc{
	padding: 1em;
}

div.toc ul{
	list-style-type: none;
}

div.toc li{
	margin: 0.5em 0px;
}

div.text p{
	color: black;
	text-align: left;
}

div.text{
	padding: 1em;
	border: 1px;
	border-style: solid;
	border-color: #01013A;
	margin-right: 100px; /* margin for right nav box */
}

div.footer{
	text-align: center;
}

div.footer hr
{
	width: 80%;
	border: 5px;
	border-style: solid;
	color: #E8A001;
	border-top-color:#01013A;
	border-top-width: 1px;
}


/*
 * Right navigation box
 
#right_nav_box {
	position: absolute;
	top: 230px;
	right: 0px;
	background-color: #01013A;
	padding: 10px;
	margin: 10px 10px 10px 10px;
}
*/
#right_nav_box {
	float: right;
	top: 230px;
	right: 0px;
	background-color: #01013A;
	padding: 10px;
	margin: 10px 10px 10px 10px;
}
#right_nav_box ul {
	font-family: Arial;
	color: black;
	list-style-type: none;
	line-height: 175%;
	margin: 10;
	padding: 0;
}

.active{
	background-color: white;
	color: #01013A;
}